.main {
    display: flex;
    flex-wrap: wrap;
    border: solid 2px grey;
    justify-content: space-around;
}

.userCard {
    width: 45%;
    text-decoration: underline;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    background-color: lightgray;
}

.btn {
    margin: 0 0 4px 8px;
    border-radius: 5px ;
}

.userName {
    margin-left: 8px;
}